deposit/src/main/resources/article.dtd

<!--    Public document type definition. Typical invocation:
<!DOCTYPE art PUBLIC "-//BMC//DTD FULL LENGTH ARTICLE//EN" []>
-->
<!--


	History:
	Version 0.41
					add new optional 'trans-abs-grp' tag to 'fm' for marking-up translated abstracts
					add new optional 'trans-title-grp' tag to 'bibl' for marking-up translated titles
					add new optional 'lang' attribute to 'abs' and 'title' (with default = 'en') for indicating the language of abstracts and titles
					added new optional 'trans-kwdg-grp' to 'fm' for marking-up translated keywords
					added new optional 'lang' attribute to 'kwdg' (with default='en') for indicating the language of the keywords
					added new optional 'endnoter' tag to 'p' for in-text pointers to endnotes
					added new optional 'endnotegrp' tag to 'bm' for grouping endnotes
					added new required 'endnote' tag to 'endnotegrp' for marking-up endnotes
					
	Version 0.40	Added support for CALS DTD for tables, tables to be marked-up using new 'table' tag. DTD still supports old 'tbl' tag.
	Version 0.39	Added new optional values to 'idtype' attribute in pubid: 'arxiv' (for records in arXiv: arXiv.org), 'scopus' (for records in Scopus: scopus.com), 'wos' (for records in Web of Science: isiknowledge.com), 'cas' (for records in Chemical Abstracts Service: cas.org)
					Added new optional values to 'kwd': 'msc' (for markup of Mathematical SubJect Classification: ams.org/msc) and Physics and Astronomy Classification Scheme: aip.org/pacs)
	Version 0.38	Added new element 'inline-formula' to 'fdata' to markup mathematical formulae occuring within text
					Added new element 'display-formula' to 'p' to markup mathematical formulae
					Added new element 'tex-math' to 'inline-formula'  and 'display formula' to contain alternative Tex markup of mathematics
					Added new element 'formr' to 'p' to markup links to display formulae
					Added new attribute 'locked' to pubid to prevent changes to ids by automatic matching processes
					Added element "citation-type" to bibl		
	Version 0.37	Added new element 'scheme' to 'sec' to markup chemical schemes (inline graphics with titles and id's and descriptive text)
					Added new element 'schemer' to 'p' for referencing schemes
					Added new attribute 'type' to 'sec' to indicate sections that are not part of the fulltext
					Added new attribute 'album' to 'graphic' to indicate graphics that should be included in a figure album page
	Version 0.36	Modified to support MathML.  <math> are now allowed anywhere %fdata is, plus within <sec>'s (this latter, so the distinction between inline and display math can be maintained).  [buddyr, 2002/08/13]
	Version 0.35	Added new element 'aur' to 'p' with required attribute 'aid' for marking-up references to authors
					bibl allowed within boxed-text
	Version 0.34	NOTE: All new features in this DTD were designed for use by The Scientist magazine (which shares this DTD). Some of these elements are also going to be re-used for BMC journals
					Added new attribute 'pop_up' to 'fig', for explicitly indicating that a figure should display as a thumbnail, with a pop-up full size image
					Added new element 'break' to 'p' for introducing line breaks in a paragraph (am not too happy about this, but it saves working on a 'lot' of complex presentational code!)
					Added optional attribute 'indent' to 'p' - values can be '0' or '1' or '2' or '3'
					Added new optional element 'boxed-text' to 'bdy' and to 'sec' - this is for marking-up boxed text
					Added 'align' attribute to 'boxed-text'
					Added single optional 'st' element to 'boxed-text'
					Added multiple 'sec' element to 'boxed-text'
					Added multiple optional 'fig' element to 'boxed-text' (left|right|bottom|sidebar)
					Added multiple optional 'tbl' element to 'boxed-text'
					Added multiple optional 'p' element to 'boxed-text'
					Added single optional 'refgrp' element to 'boxed-text'
					Added optional attribute 'align' to 'fig'
	Version 0.33	Changed 'fulltext' value of 'link' attribute of 'pubid' from default to implied
					Added new optional tag 'ext-link' to 'p' - for linking to external databases
					Added required attribute 'ext-link-type' to 'ext-link' - to indicate which database is being linked-to
					Added required attribute 'ext-link-id' to 'ext-link' - to give id for resolving the link
	Version 0.32	Added new optional tag 'supplement' to 'bibl' - for information particular to supplements
					Added new optional tag 'title' to 'supplement' - for title of supplement
					Added optional tag 'editor' to 'supplement' - for editor(s) of supplement
					Added new optional tag 'sponsor' to 'supplement' - for sponsor of supplement
					Added optional tag 'note' to 'supplement' - for notes about supplement (eg "Proceedings of a round table discussion")
					Added optional tag 'url' to 'supplement' - for linking to supplement splash page, or info page/file
					Added optional tag 'note' to 'sponsor' - for information about sponsor(s)
					Added optional tag 'url' to 'sponsor' - for linking to sponsor
					Added new optional tag 'conference' to 'bibl' - for information particular to conferences
					Added optional tag 'title' to 'conference' - for conference title
					Added new optional tag 'location' to 'conference' - for location of conference
					Added new optional tag 'date-range' to 'conference' - for indicating the date, or the date range
					Added optional tag 'url' to 'conference' - for the URL of the conference
					Added new optional tag 'section' to 'bibl' - for indicating section within a journal/issue/supplement/conference
					Added element 'html' to 'sec' - for including HTML islands in XML
	Version 0.31	Added optional 'note' to cpyrt - made 'year' compulsory, if 'cpyrt' is present
	Version 0.30	Added new tag 'monospace' to 'p' - for fixed-width text
					Changed 'cpyrt' so that 'year' is optional
					'hint_layout' attribute for 'graphic' now has no default
					'hint_layout' attribute for 'tbl' now has no default
					Changed 'supplr' to allow 'fdata' entity instead of 'PCDATA'
					Added multiple optional 'abbrgrp' to 'note'
					Added new tag 'xrefart' with attribure 'art', to 'p' - for referenceing external articles
					Added new tag 'xfigr' with attribures 'art' and 'fid', to 'p' - for referenceing figures from external articles
					Added new tag 'xtblr' with attribures 'art' and 'tid', to 'p' - for referenceing tables from external articles
					Added new tag 'xsupplr' with attribures 'art' and 'sid', to 'p' - for referenceing supplementary files from external articles
	Version 0.29	Added new optional attribute 'link' to 'pubid' - to indicate a fulltext link from that 'pubid'
					Changed 'shortabs' to only allow single 'p' - rather than multiple 'sec'
					Added new optional 'shorttitle' tag to 'fm' - for markup of alternative shorter title
					Added 'it' to 'cnm' - esp for author groups containing gene names
					Added optional attribute 'hint_layout' to 'tbl' - to help auto-PDF layout
	Version 0.28:	Added 'da' attribute to 'au' tag for markup of deceased author
					Added 'type' attribute to 'au' tag for group of authors credited under one name
					Allowed 'abbr' tag to accept formatted data
					Changed 'id' attribute of 'aff' tag to implied rather than required
					Added new tag 'ul' for underlined text
					Added 'ul' tag to formatted data entity
					Added new tag 'mnm'  for middle names (as opposed to middle initials)
					Added 'mnm' as an optional tag in 'au'
	Version 0.27:	Added 'pa' attribute to 'au' tag for markup of presenting author (meetings)
	Version 0.26:	Allowed 'email' element to appear as part of 'formatted data' (ie. p tags)
					Allowed 'title' elements to appear within the 'refgrp'
	Version 0.25:	Allowed 'bibl' to appear within a 'sec' (allows bibliographic content to be strongly marked up within the text of an article)
	Version 0.24:	Added to 'bibl': publisher, editor, edition, isbn, series (subtags: title, editor)
						(these are used for marking up books, mainly within the references section)
					Added 'meta' to the document, between 'fm' and 'bdy' to allow for metadata
					Added 'classifications' to 'meta' (our first piece of metadata ;-)
					Added 'ce' attribute (contributed equally) to 'au'. (to show those authors that contributed equally)
					Added 'width' attrbiute to 'c' (table column). (provides better control over the display of the tables where necessary)
	Version 0.23:	Allowed 'bibl' to be nested (useful for paper/web reports)
						(the 'nested' bibl is that of the paper that is being reported on, the outer bibl is that of the report)
	Version 0.22:	Added 'collective name' (cnm) as an option for author (use for organisations instead of individual people)
	Version 0.21:	Made title tag optional within bibl (VERY nasty hack, because it allows for untitled articles!!)...
						(not everything requires a title though - for example, a reference to a web site may not)
	Version 0.20:  	Added abbrgrp.
						(used to mark up a group of references - so instead of [<abbr bid="B1">1</abbr><abbr bid="B2">2</abbr>], use <abbrgrp><abbr bid="B1">1</abbr><abbr bid="B2">2</abbr></abbrgrp> - this allows the xsl to produce nicely formatted reference in the style [1-3,5])
	Version 0.19:	Allowed 'graphic' to appear within a 'sec' (allows for inline images within paragraphs).
	Version 0.18:	Added 'num' attribute to 'sec' tag. (allows each section to be numbered - useful for referencing sections of the article)
	Version 0.17:	Added 'ca' attribute to 'au'. (allows an author to be marked as the corresponding author)
	Version 0.16:	Bug fix.
	Version 0.15:	Added 'smcaps' to the 'fdata' entity (allows small capitals to be marked up wherever formatted data is allowed)
	Version 0.14:	Added note tag and rating attribute to bibl.
					Note and kwd tags can contain formatted data.
					Added the a (anchor) tag.
					Allow section tags to appear in back matter after the refgrp (for appendix, etc.)
	Version 0.13:	Added journal identifier.
	Version 0.12:	Added hint attributes to the graphic tag.
	Version 0.11:	Added PubMed linking elements - pubid / pubidlist / xrefbib.
					Changed suppl element to allow for multiple files per element.
	Version 0.10:	Added suppl / supplr elements (supplementary material)
					Replaced address element with an institution group.
					Added insr element to author for referencing institutions (marking up affiliations).
					Added email element.
					Added inline images - graphic is now allowable as part of a <sec> (slightly different usage though).
					Renamed longabs to abs.
	Version 0.9:	Added url element to paragraph (<p>)
					Replaced jr element in au (author) with suf (suffix)
					Added a middle initial element for authors (<mi>)
					Replaced sof with shortabs, abs with longabs, and enforced the use of <sec> within them and ack (acknowledgements)
	Version 0.8:	Minor readability tweaks.
	Version 0.7:	Added a number of comments (please read ;-)
	Version 0.6:	Improved readability of DTD.
	Version 0.5:	Added optional ui element (used in rendering).
	Version 0.4:	Reworked sup, sub, b, and it elements so that they can be combined:
						ie. <b><it></it></b>, <it><sup></sup></it>, <sub><b></b></sub>, etc.
					Added text element to figures for main description, caption to be used for shortened version.
	Version 0.3:	Added b (bold) to the paragraph element (<p>)
	Version 0.2:	Added tbl and fig as allowable elements in a <sec>
					Removed tbl and fig as allowable elements in a <p>
					Added hr (horizontal rule) as an allowable element in a table column (<c>)
					Removed csep attribute from <c>
					Added Figure references (<figr>)
	Version 0.1:	Initial Draft
					Derived from KETON DTD.
-->
<!-- Formatted data entity -->
<!ENTITY % MATHML.prefixed "INCLUDE">
<!ENTITY % mathml2 SYSTEM "http://www.biomedcentral.com/xml/MathML2/mathml2.dtd">
%mathml2;
<!ENTITY % calstbl.dtd SYSTEM "http://www.biomedcentral.com/xml/CALS/calstbl.dtd">
%calstbl.dtd;

<!ENTITY % fdata "#PCDATA | it | b | sub | sup | smcaps | ul | url | email | a | m:math | inline-formula">
<!ENTITY % mdata "#PCDATA | it | b | sub | sup | smcaps | ul | graphic | m:math | tex-math">
<!-- Main Article -->
<!ELEMENT art (ui?, ji?, fm, meta?, bdy, bm?)>
<!-- Unique Identifier -->
<!ELEMENT ui (#PCDATA)>
<!-- Optional element, used by XSL rendering for generating links -->
<!-- Journal Identifier -->
<!ELEMENT ji (#PCDATA)>
<!-- Front matter -->
<!ELEMENT fm (dochead?, bibl, history?, cpyrt?, shorttitle?, shortabs?, kwdg?, trans-kwdg-grp?, abs?, trans-abs-grp?)>
<!-- Meta section -->
<!ELEMENT meta (classifications)>
<!-- Body -->
<!ELEMENT bdy (sec | boxed-text)+>
<!-- Main body / text of article -->
<!-- Back matter -->
<!ELEMENT bm (ack?, endnotegrp?, refgrp?, sec*)>
<!-- Document heading (type - Primary research, article, etc.) -->
<!ELEMENT dochead (#PCDATA)>
<!-- Bibliographic information (shared between front matter and references) -->
<!ELEMENT bibl (title?, trans-title-grp?, aug?, insg?, source?, publisher?, editor?, edition?, series?, supplement?, conference?, section?, issn?, isbn?, pubdate?, ((volume?, issue?, fpage?, lpage?, url?) | inpress)?, note?, xrefbib?, bibl?)>
<!ATTLIST bibl
	id ID #IMPLIED
	citation-type CDATA #IMPLIED
>
<!-- ID for bibliographic information - only used in references (B1, B2, etc.) -->
<!-- citation-type may be used to force formatting for certain citation type
those currently used are:
book - Book, or article within a book
commun - Informal or personal communication, such as a phone call or an email message 
confproc - Conference proceedings 
journal - Journal article 
thesis - Work written as part of the completion of an advanced degree 
web - Website
other - None of the listed types.)
-->
<!ATTLIST bibl
	rating (0 | 1 | 2) "0"
>
<!-- Rating (for references) -->
<!-- Document history -->
<!ELEMENT history (rec?, revreq?, revrec?, acc?, pub?)>
<!ELEMENT rec (date)>
<!-- Date received -->
<!ELEMENT revreq (date)>
<!-- Date revisions requested -->
<!ELEMENT revrec (date)>
<!-- Date revisions received -->
<!ELEMENT acc (date)>
<!-- Date accepted -->
<!ELEMENT pub (date)>
<!-- Date published -->
<!-- Copyright information - year = year of publication of volume... collab = author information... note = open access information -->
<!ELEMENT cpyrt ((year, collab)?, note?)>
<!-- Short title -->
<!ELEMENT shorttitle (p)>
<!-- Short abstract -->
<!ELEMENT shortabs (p)>
<!-- Translated keyword group group (DRAFT) -->
<!ELEMENT trans-kwdg-grp (kwdg+)>
<!-- Keywords -->
<!ELEMENT kwdg (kwd+)>
<!-- de=German, en=English, es=Spanish, fr=French, no=Norwegian, pt=Portuguese -->
<!ATTLIST kwdg
	lang (de | en | es | fr | no | pt) "en"
>
<!ELEMENT kwd (%fdata;)*>
<!ATTLIST kwd
	type (msc | pacs) #IMPLIED
>
<!-- Translated abstract group (DRAFT) -->
<!ELEMENT trans-abs-grp (abs+)>
<!-- Abstract -->
<!ELEMENT abs (sec+)>
<!-- de=German, en=English, es=Spanish, fr=French, no=Norwegian, pt=Portuguese -->
<!ATTLIST abs
	lang (de | en | es | fr | no | pt) "en"
>
<!-- Classifications -->
<!ELEMENT classifications (classification+)>
<!ELEMENT classification (#PCDATA)>
<!ATTLIST classification
	type CDATA #REQUIRED
	subtype CDATA #IMPLIED
	id CDATA #IMPLIED
>
<!-- Section -->
<!-- Note: Unlike the Keton DTD, tables and figures do NOT occur inside paragraph tags!! -->
<!ELEMENT sec (st, (p | sec | table | tbl | fig | m:math | suppl | fn | graphic | bibl | html | boxed-text | scheme)*)>
<!ATTLIST sec
	num CDATA #IMPLIED
	type (not_fulltext) #IMPLIED
>
<!-- Optional section number -->
<!ELEMENT st (p)>
<!-- Acknowledgements -->
<!ELEMENT ack (sec+)>
<!-- Endnote group -->
<!ELEMENT endnotegrp (endnote+)>
<!-- Endnote -->
<!ELEMENT endnote (p+)>
<!ATTLIST endnote
	id ID #REQUIRED
>
<!-- Reference group -->
<!ELEMENT refgrp ((bibl | title)+)>
<!-- Translated title group (DRAFT) -->
<!ELEMENT trans-title-grp (title+)>
<!-- Title -->
<!ELEMENT title (p)>
<!-- de=German, en=English, es=Spanish, fr=French, no=Norwegian, pt=Portuguese -->
<!ATTLIST title
	lang (de | en | es | fr | no | pt) "en"
>
<!-- Authors -->
<!ELEMENT aug (au+, etal?)>
<!ELEMENT au (((snm, (mi | mnm)?, fnm, suf?) | cnm), insr*, email?)>
<!ATTLIST au
	id ID #IMPLIED
>
<!-- Author ID, eg. A1, A2, A3... -->
<!ATTLIST au
	ca (no | yes) "no"
>
<!-- Collaborating author (set to 'on_behalf' if it is a group of authors credited under one name) -->
<!ATTLIST au
	type (on_behalf) #IMPLIED
>
<!-- Corresponding Author (set to 'yes' if they are) -->
<!ATTLIST au
	ce (no | yes) "no"
>
<!-- Contributed equally (set to 'yes' if they did) -->
<!ATTLIST au
	pa (no | yes) "no"
>
<!-- Presenting Author (set to 'yes' if they are) -->
<!-- Deceased (set to 'yes' if they are) -->
<!ATTLIST au
	da (no | yes) "no"
>
<!-- Author reference -->
<!--
	Where used as a singleton in the body, intnded to render the author details
	ie: <aur aid="A1"/>
	If wrapped around text in the body, could be rendered as an email link, or pop-up some author details
	ie: For further details please contact the <aur aid="A3">corresponding author</aur> of this article...
-->
<!ELEMENT aur (#PCDATA)>
<!ATTLIST aur
	aid IDREF #REQUIRED
>
<!ELEMENT insr EMPTY>
<!ATTLIST insr
	iid IDREF #IMPLIED
>
<!-- IID is used to identify author/institution affiliations -->
<!ELEMENT snm (#PCDATA)>
<!ELEMENT mi (#PCDATA)>
<!-- middle initial -->
<!ELEMENT mnm (#PCDATA)>
<!-- middle name -->
<!ELEMENT fnm (#PCDATA)>
<!ELEMENT suf (#PCDATA)>
<!ELEMENT cnm (#PCDATA | it)*>
<!ELEMENT email (#PCDATA)>
<!ELEMENT etal EMPTY>
<!-- Institutions -->
<!ELEMENT insg (ins+)>
<!ELEMENT ins (p)>
<!ATTLIST ins
	id ID #IMPLIED
>
<!-- Insistution ID, eg. I1, I2, I3... -->
<!-- Source -->
<!ELEMENT source (#PCDATA)>
<!-- Source is the name of the journal (or book) -->
<!-- Publisher -->
<!ELEMENT publisher (#PCDATA)>
<!-- Editor -->
<!ELEMENT editor (#PCDATA)>
<!-- Edition -->
<!ELEMENT edition (#PCDATA)>
<!-- Series -->
<!ELEMENT series (title?, editor?)>
<!-- Supplement -->
<!ELEMENT supplement (title?, editor?, sponsor?, note?, url?)>
<!-- Sponsor -->
<!ELEMENT sponsor (note?, url?)>
<!-- Conference -->
<!ELEMENT conference (title?, location?, date-range?, url?)>
<!-- Location -->
<!ELEMENT location (#PCDATA)>
<!-- Date range -->
<!ELEMENT date-range (#PCDATA)>
<!-- Section -->
<!ELEMENT section (title, editor?)>
<!-- ISSN -->
<!ELEMENT issn (#PCDATA)>
<!-- ISBN -->
<!ELEMENT isbn (#PCDATA)>
<!-- Publication date (year) - if more information than year, then this should all be included in 'note' and 'pubdate' node not included -->
<!ELEMENT pubdate (#PCDATA)>
<!-- Volume -->
<!ELEMENT volume (#PCDATA)>
<!-- Issue -->
<!ELEMENT issue (#PCDATA)>
<!-- First page -->
<!ELEMENT fpage (#PCDATA)>
<!-- Last page -->
<!ELEMENT lpage (#PCDATA)>
<!-- URL -->
<!ELEMENT url (#PCDATA)>
<!-- Anchor -->
<!ELEMENT a (%fdata;)*>
<!ATTLIST a
	href CDATA #REQUIRED
>
<!-- In press -->
<!ELEMENT inpress EMPTY>
<!-- Note -->
<!ELEMENT note (%fdata; | abbrgrp)*>
<!-- Collaboration -->
<!ELEMENT collab (#PCDATA)>
<!-- Paragraph -->
<!-- it - italics, b - bold, sup - superscript, sub - subscript -->
<!ELEMENT p (%fdata; | aff | abbr | abbrgrp | tblr | figr | formr | supplr | graphic | monospace | xrefart | xfigr | xtblr | xsupplr | ext-link | break | aur | schemer | display-formula | endnoter)*>
<!ATTLIST p
	indent (0 | 1 | 2 | 3) #IMPLIED
>
<!ELEMENT sup (%fdata;)*>
<!ELEMENT sub (%fdata;)*>
<!ELEMENT smcaps (%fdata;)*>
<!ELEMENT b (%fdata;)*>
<!ELEMENT it (%fdata;)*>
<!ELEMENT ul (%fdata;)*>
<!-- text to be displayed in non-proportional font, eg Courier -->
<!ELEMENT monospace (%fdata;)*>
<!-- External article reference - for referencing a local article, designed for use within the BMC database. 'art' attribute to correspond to content of 'ui' of referenced article. It is important to make sure that this is not used if the referenced article will not be accessable to the ultimate user -->
<!ELEMENT xrefart (%fdata;)*>
<!ATTLIST xrefart
	art CDATA #REQUIRED
>
<!--
External link - this is based on the PMC format for external linking - it is likely that BMC will not support rendering of all the ext-link-types.

External link type attribute - can be one of:
 ec - Enzyme nomenclature
 gen - GenBank - CURRENTLY SUPPORTED ON BMC
 gengi - GenBank (linking using GI rather than Accession number) - CURRENTLY SUPPORTED ON BMC
 genpept - Translated protein-encoding sequence database
 highwire - HighWire Press intrajournal
 medline - MEDLINE or PubMed identifier
 pdb - Protein Data Bank - CURRENTLY SUPPORTED ON BMC
 pgr - Plant Gene Register
 pir - Protein Information Resource - CURRENTLY SUPPORTED ON BMC
 pmc - PubMed Central
 sprot - Swiss-Prot - CURRENTLY SUPPORTED ON BMC
 aoi - Astronomical Object Identifier 
 doi - Digital Object Identifier 
 ftp - File Transfer Protocol 
 uri - Website or web service
 ddbj - DNA Data Bank of Japan - CURRENTLY SUPPORTED ON BMC
 embl - EMBL nucleotide sequence database - CURRENTLY SUPPORTED ON BMC
 pcc - PubChem compound database - CURRENTLY SUPPORTED ON BMC
 pcs - PubChem substance database - CURRENTLY SUPPORTED ON BMC
 pcb - PubChem bioassay database - CURRENTLY SUPPORTED ON BMC
 CDATA - Arbitrary text, for new databases etc

External link id attribute - is a string to be inserted into a URL, in order to generate a link to a record in the database specified in 'ext-link-type' attribute.
-->
<!ELEMENT ext-link (#PCDATA)>
<!ATTLIST ext-link
	ext-link-type CDATA #REQUIRED
	ext-link-id CDATA #REQUIRED
>
<!ELEMENT break EMPTY>
<!-- For introducing line breaks within a paragraph of text - designed for use by The Sceintist magazine and discouraged from being used elsewhere -->
<!-- HTML fragments - designed to be used for embedding data converted from unconvertable HTML - not to be used as a bypass of propper XML markup! -->
<!ELEMENT html (#PCDATA)>
<!-- Boxed text - for marking-up boxed text within an article - these can be thought of as a section/s of text -->
<!ELEMENT boxed-text (st?, (sec | fig | table | tbl | p | bibl)*, refgrp?)>
<!ATTLIST boxed-text
	align (left | right | bottom | sidebar) #IMPLIED
>
<!-- External article figure reference - for referencing figures from a local article, 'art' attribute to correspond to content of 'ui' of referenced article. This has been designed for use within the BMC database, if used externally, it is important to make sure that this is not used if the referenced article will not be accessable to the ultimate user -->
<!ELEMENT xfigr (%fdata;)*>
<!ATTLIST xfigr
	art CDATA #REQUIRED
	fid CDATA #REQUIRED
>
<!-- External article table reference - for referencing tables from a local article, 'art' attribute to correspond to content of 'ui' of referenced article. This has been designed for use within the BMC database, if used externally, it is important to make sure that this is not used if the referenced article will not be accessable to the ultimate user -->
<!ELEMENT xtblr (%fdata;)*>
<!ATTLIST xtblr
	art CDATA #REQUIRED
	tid CDATA #REQUIRED
>
<!-- External article supplementary file reference - for referencing supplementary files from a local article, 'art' attribute to correspond to content of 'ui' of referenced article. This has been designed for use within the BMC database, if used externally, it is important to make sure that this is not used if the referenced article will not be accessable to the ultimate user -->
<!ELEMENT xsupplr (%fdata;)*>
<!ATTLIST xsupplr
	art CDATA #REQUIRED
	sid CDATA #REQUIRED
>
<!-- Footnote -->
<!ELEMENT fn (p+)>
<!ATTLIST fn
	id ID #REQUIRED
>
<!-- Affiliation -->
<!ELEMENT aff (#PCDATA)>
<!ATTLIST aff
	id ID #IMPLIED
>
<!-- Bibliographic reference -->
<!-- Text contained between open and close tags is linked -->
<!--
	Always explicitly put links for each reference, do NOT use ranges
	ie. [<abbr bid="B1">1</abbr>,<abbr bid="B2">2</abbr>,<abbr bid="B3">3</abbr>]
	NOT [<abbr bid="B1">1</abbr>-<abbr bid="B3">3</abbr>]
-->
<!ELEMENT abbr (%fdata;)*>
<!ATTLIST abbr
	bid IDREF #REQUIRED
>
<!--
	Alternate method to that described above...
	You can wrap a list of abbr elements within an abbrgrp - but do not specify square brackets or commas...
	ie. <abbrgrp><abbr bid="B1">1</abbr><abbr bid="B2">2</abbr><abbr bid="B4">4</abbr></abbrgrp>
	NOT [<abbrgrp><abbr bid="B1">1</abbr>,<abbr bid="B2">2</abbr>,<abbr bid="B4">4</abbr></abbrgrp>]
-->
<!ELEMENT abbrgrp (abbr+)>
<!-- Table reference -->
<!-- Text contained between open and close tags is linked -->
<!--
	Unlike KETON/PubMed Central, you need to specify the number of the table
	ie. Table <tblr tid="T1">1</tblr>
	NOT Table <tblr tid="T1"/>
-->
<!ELEMENT tblr (#PCDATA)>
<!ATTLIST tblr
	tid IDREF #REQUIRED
>
<!-- Table -->
<!ELEMENT tbl (title, caption?, tblbdy, tblfn?)>
<!ATTLIST tbl
	id ID #REQUIRED
	hint_layout (single | double | landscape) #IMPLIED
>
<!-- id of table, ie. T1, T2, T3 -->
<!-- Table body -->
<!-- My renderer does not use any of these attributes, however 'cols' has been made required to make it easier for PMC -->
<!ELEMENT tblbdy (r+)>
<!ATTLIST tblbdy
	ra CDATA #IMPLIED
	ca CDATA #IMPLIED
	cols CDATA #REQUIRED
>
<!-- Table rows -->
<!ELEMENT r (c+)>
<!ATTLIST r
	ra (top | center | bottom) #IMPLIED
>
<!-- Row alignment -->
<!-- Table cells -->
<!--
	hr - outputs a line!!
	cspan - number of columns to span
	rspan - number of rows to span
	indent - specifies an indent level (supports '1', '2', '3')
	ca - column alignment
-->
<!ELEMENT c (hr | p*)>
<!ATTLIST c
	cspan CDATA #IMPLIED
	rspan CDATA #IMPLIED
	indent CDATA #IMPLIED
	width CDATA #IMPLIED
	ca (left | center | right) #IMPLIED
>
<!ELEMENT hr EMPTY>
<!-- Table footnote -->
<!ELEMENT tblfn (p+)>
<!-- Caption (figure / table) -->
<!--
	Descriptive title for figure / table
	 - for figures, this should be the first sentence of the caption / text.
	   (this is used when rendering thumbnails ;-)
-->
<!ELEMENT caption (p+)>
<!-- Dates (day / month / year) -->
<!-- These should ALWAYS be numeric values !!!! -->
<!ELEMENT date (day, month, year)>
<!ELEMENT day (#PCDATA)>
<!ELEMENT month (#PCDATA)>
<!ELEMENT year (#PCDATA)>
<!-- Figure reference -->
<!-- Text contained between open and close tags is linked -->
<!--
	Unlike KETON/PubMed Central, you need to specify the number of the figure
	ie. Fig <figr fid="F1">1</figr>
	NOT Fig <figr fid="F1">
-->
<!ELEMENT figr (#PCDATA)>
<!ATTLIST figr
	fid IDREF #REQUIRED
>
<!-- Figure -->
<!ELEMENT fig (title, caption?, text?, graphic)>
<!ATTLIST fig
	id ID #REQUIRED
>
<!-- ID for the figure, ie. F1, F2, F3 -->
<!ATTLIST fig
	align (left | right) #IMPLIED
	pop_up (yes | no) #IMPLIED
>
<!-- align: for aligning of inline figures in fulltext-->
<!-- pop_up: for explicitly indicating whether a figure should be displayed inline popped-up from a link - generally this will be used to indicate exceptions to the usual rendering proceedure -->
<!ELEMENT text (p+)>
<!-- Main text / caption for the figure -->
<!ELEMENT graphic EMPTY>
<!-- NOTE: Inside a fig tag, do NOT include the extension, outside a fig tag (inline image or scheme) include the extension -->
<!ATTLIST graphic
	file CDATA #REQUIRED
>
<!-- The name of the graphic file -->
<!ATTLIST graphic
	hint_layout (single | double | landscape) #IMPLIED
	hint_detail (low | high) #IMPLIED
	album CDATA #IMPLIED
>
<!-- 'album' is an attribute to indicate that the graphic is reused in an image album, the attribute is the number to indicate the position in the album 1,2,3 etc -->
<!-- Scheme reference -->
<!-- Text contained between open and close tags is linked -->
<!--
	A scheme is a chemical structure displayed inline.
-->
<!ELEMENT schemer (#PCDATA)>
<!ATTLIST schemer
	cid IDREF #REQUIRED
>
<!-- Scheme -->
<!ELEMENT scheme (title, text?, graphic)>
<!ATTLIST scheme
	id ID #REQUIRED
>
<!-- ID for the scheme, ie. C1, C2, C3 etc -->
<!-- Supplementary Material reference -->
<!-- Text contained between open and close tags is linked -->
<!ELEMENT supplr (%fdata;)*>
<!ATTLIST supplr
	sid IDREF #REQUIRED
>
<!-- Supplementary material -->
<!ELEMENT suppl (title?, caption?, text?, file+)>
<!ATTLIST suppl
	id ID #REQUIRED
>
<!-- ID for the supplementary material, ie. S1, S2, S3 -->
<!ELEMENT file (p*)>
<!ATTLIST file
	name CDATA #REQUIRED
>
<!-- Name of the supplementary material, including extension -->
<!-- Bibliographic links -->
<!ELEMENT xrefbib (pubid | pubidlist)>
<!--
	PubId group .. you can use an identifier, or a list of alternate ids for the
     same article. This is taken from the NCBI publisher.dtd
-->
<!ELEMENT pubidlist (pubid+)>
<!ELEMENT pubid (#PCDATA)>
<!-- 
		fulltext - indicates that there is a link towards the full-text of the bibl available from that pubid
	usually this will be pmpid idtype
-->
<!-- 
		locked - only to be used where citation is complete but automatic citation matching gives the wrong id
-->
<!ATTLIST pubid
	idtype (pubmed | medline | doi | pii | pmcid | pmcpid | pmpid | arxiv | scopus | wos | cas) "pmpid"
	link (fulltext) #IMPLIED
	locked (true | false) #IMPLIED
>
<!ELEMENT inline-formula (%mdata;)*>
<!ELEMENT display-formula (%mdata;)*>
<!ATTLIST display-formula
	id ID #IMPLIED
>
<!ELEMENT formr (#PCDATA)>
<!ATTLIST formr
	mid IDREF #REQUIRED
>
<!-- contains Tex for display of mathematics -->
<!ELEMENT tex-math (#PCDATA)>

<!-- endnote in-text pointers ... use eid attribute "E1", "E2" etc -->
<!ELEMENT endnoter EMPTY>
<!ATTLIST endnoter 
	eid IDREF #IMPLIED
>

